
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: white;
  background-color: black;
}


.homepage-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

/* Header Styling */
.header {
  background-color: black;
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.header h1 {
  font-size: 2em;
}

.header nav ul {
  list-style-type: none;
  padding: 0;
}

.header nav ul li {
  display: inline;
  margin: 0 10px;
}

.header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.header nav ul li a:hover {
  text-decoration: underline;
}

.main-content {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.intro h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.action-button {
  background-color: #4a90e2;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.action-button:hover {
  background-color: #357abd;
}


.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  width: 100%;
}
/* Nutrition Summary and Food Entries Styles */
.guess-entries {
  margin-top: 20px;
  padding: 20px;
  background-color: darkgray;
  border-radius: 10px;
}

.guess-entries h2 {
  margin-bottom: 10px;
  color: white;
}

.guess-entries table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.guess-entries th, .guess-entries td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.guess-entries th {
  background-color: darkgreen;
  color: white;
}

.guess-entries tr:nth-child(even) {
  background-color: #f4f4f9;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal content box styling */
.modal-content {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 8px;
  width: 550px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  margin-bottom: 20px;
}

.modal-content p {
  margin-bottom: 20px;
}

.modal-content button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #0056b3;
}
